<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://cp668097-001.dbaas.ovh.net:35675/GenieLog</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.requireSSL">false</property>
        <property name="hibernate.connection.useSSL">false</property>

        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">Azerty12</property>

        <mapping class="DataBase.AdresseEntity"/>
        <mapping class="DataBase.CategorieEntity"/>
        <mapping class="DataBase.ClientEntity"/>
        <mapping class="DataBase.CompetencesEntity"/>
        <mapping class="DataBase.DemandeurEntity"/>
        <mapping class="DataBase.JonctionSirensiretEntity"/>
        <mapping class="DataBase.JonctionSiretAdresseEntity"/>
        <mapping class="DataBase.JonctionStaffCompetenceEntity"/>
        <mapping class="DataBase.JonctionStaffPosteEntity"/>
        <mapping class="DataBase.JonctionTacheCompetenceEntity"/>
        <mapping class="DataBase.JonctionTicketCompetenceEntity"/>
        <mapping class="DataBase.PosteEntity"/>
        <mapping class="DataBase.SexeEntity"/>
        <mapping class="DataBase.StaffEntity"/>
        <mapping class="DataBase.StatutTicketEntity"/>
        <mapping class="DataBase.TacheEntity"/>
        <mapping class="DataBase.TicketEntity"/>
        <mapping class="DataBase.TicketJonctionEntity"/>
        <mapping class="DataBase.TypeDemandesEntity"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>
