<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://cp668097-001.dbaas.ovh.net:35675/GenieLog</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.requireSSL">false</property>
        <property name="hibernate.connection.useSSL">false</property>
        
        <!-- todo changer avec le bon compte-->
        <property name="hibernate.connection.username">phil</property>
        <property name="hibernate.connection.password">r2CBDq20gQgHtHT3pDN0n</property>

        <mapping class="DataBase.AdresseClientEntity"/>
        <mapping class="DataBase.ClientEntity"/>
        <mapping class="DataBase.JonctionClientEntity"/>
        <mapping class="DataBase.PersonneEntity"/>
        <mapping class="DataBase.PosteEntity"/>
        <mapping class="DataBase.TicketEntity"/>
        <mapping class="DataBase.TicketJonctionEntity"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>
